.hero {
  background: url(../img/hero-bg-3.png);
  background-size: cover;
  height: 85vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (min-width: 250px) and (max-width: 600px) {
    .hero {
      height: 50vh; } }
  @media (min-width: 600px) and (max-width: 900px) {
    .hero {
      height: 45vh; } }
  @media (min-width: 900px) and (max-width: 1200px) {
    .hero {
      height: 43vh; } }
  .hero__navbar {
    text-align: center; }
  .hero__navbar-ul {
    list-style: none; }
  .hero__navbar-li {
    display: inline-block;
    cursor: pointer;
    margin: 1.5rem 1rem;
    transition: all 0.2s ease-in; }
    .hero__navbar-li:hover {
      transform: translateY(-2px); }
    .hero__navbar-li:active, .hero__navbar-li:focus {
      transform: translateY(0px);
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); }
  .hero__navbar-a, .hero__navbar-a:link, .hero__navbar-a:visited {
    text-decoration: none;
    border-radius: 100px;
    background: linear-gradient(to right, #7c71dc, #000);
    padding: 1rem 2.4rem;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: Montserrat;
    transition: all 0.2s ease-in; }
  .hero__navbar-a:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); }

.footer {
  margin-top: 2rem;
  text-align: center; }
  .footer__p-span {
    font-size: 1.8rem;
    font-weight: 600;
    font-family: montserrat;
    color: transparent;
    background-image: linear-gradient(to right, #7c71dc, #000);
    -webkit-background-clip: text;
    padding: 20px; }
    .footer__p-span a {
      text-decoration: none;
      color: transparent;
      background-image: linear-gradient(to right, #7c71dc, #000);
      -webkit-background-clip: text; }
  .footer h1 {
    font-size: 1.8rem;
    font-family: pacifico;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    color: transparent;
    background-image: linear-gradient(to right, #7c71dc, #000);
    -webkit-background-clip: text; }

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

*::-webkit-scrollbar {
  width: .5rem; }

*::-webkit-scrollbar-track {
  background: #551272; }

*::-webkit-scrollbar-thumb {
  background: #7c71dc; }

body {
  font-size: 14px;
  font-weight: 400;
  box-sizing: border-box;
  text-decoration: none;
  padding: 2rem; }
  @media (min-width: 250px) and (max-width: 600px) {
    body {
      padding: 0; } }
  @media (min-width: 600px) and (max-width: 900px) {
    body {
      padding: 0; } }
  @media (min-width: 900px) and (max-width: 1200px) {
    body {
      padding: 0; } }

html {
  scroll-behavior: smooth;
  transition: all 0.2s ease-in; }

.about {
  background: linear-gradient(to right bottom, #7c71dc, white);
  height: 100%;
  padding: 8.0rem 0; }
  @media (min-width: 250px) and (max-width: 600px) {
    .about {
      padding: 2.0rem 0; } }
  @media (min-width: 600px) and (max-width: 900px) {
    .about {
      padding: 2.0rem 0; } }
  @media (min-width: 900px) and (max-width: 1200px) {
    .about {
      padding: 3.0rem 0; } }
  .about__h1 {
    text-align: center;
    font-size: 8rem;
    font-family: playball;
    font-weight: 600;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    -webkit-background-clip: text;
    color: transparent;
    transition: all 0.2s ease-in;
    background-image: linear-gradient(to right, #7c71dc, #000); }
    @media (min-width: 250px) and (max-width: 600px) {
      .about__h1 {
        font-size: 5rem; } }
  .about__p {
    margin-top: 1rem;
    text-align: center;
    padding: 0 15.5rem;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #7c71dc, #000);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    font-weight: 600;
    font-family: Montserrat;
    letter-spacing: 1px;
    line-height: 2.2rem; }
    @media (min-width: 250px) and (max-width: 600px) {
      .about__p {
        padding: 0 0; } }
    @media (min-width: 600px) and (max-width: 900px) {
      .about__p {
        padding: 0 0;
        line-height: 1.6rem; } }
    @media (min-width: 900px) and (max-width: 1200px) {
      .about__p {
        padding: 0 1rem; } }
  .about__skills {
    text-align: center; }
    .about__skills-ul {
      margin-top: 3rem;
      cursor: pointer;
      word-spacing: 20px; }
    .about__skills-li {
      display: inline-block;
      color: #fff;
      background: linear-gradient(to right, #7c71dc, #000);
      padding: 1rem 2.4rem;
      border-radius: 100px;
      list-style: none;
      font-family: Montserrat;
      font-weight: 400;
      letter-spacing: 2.5px;
      font-weight: 600;
      font-size: 18px;
      transition: all 0.2s ease-in; }
      @media (min-width: 250px) and (max-width: 600px) {
        .about__skills-li {
          margin-top: .8rem; } }
      @media (min-width: 600px) and (max-width: 900px) {
        .about__skills-li {
          margin-top: .8rem; } }
      @media (min-width: 900px) and (max-width: 1200px) {
        .about__skills-li {
          margin-bottom: 1.0rem; } }
      .about__skills-li:hover {
        transform: translateY(-3px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); }
      .about__skills-li:active, .about__skills-li:focus {
        transform: translateY(-1px);
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); }

.image-gallery {
  background: linear-gradient(to right bottom, #7c71dc, #000);
  padding: 5.0rem 0; }
  .image-gallery .image-gallery__h1 {
    text-align: center;
    font-size: 8rem;
    font-family: playball;
    font-weight: 600;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    -webkit-background-clip: text;
    color: transparent;
    transition: all 0.2s ease-in;
    background-image: linear-gradient(to right, #7c71dc, #000);
    padding-bottom: 2rem; }
    @media (min-width: 250px) and (max-width: 600px) {
      .image-gallery .image-gallery__h1 {
        font-size: 5rem; } }
  .image-gallery .container .col-lg-4 {
    margin-bottom: 1.15rem; }
    .image-gallery .container .col-lg-4 img {
      width: 100%;
      height: 25vh; }
  .image-gallery .image-gallery__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 15px; }
    .image-gallery .image-gallery__wrapper-box {
      transition: .3s ease-in-out;
      filter: grayscale(100%) !important; }
      .image-gallery .image-gallery__wrapper-box:hover {
        filter: grayscale(0%) !important; }
      .image-gallery .image-gallery__wrapper-box img {
        width: 100%; }
        @media (min-width: 250px) and (max-width: 600px) {
          .image-gallery .image-gallery__wrapper-box img {
            width: 80%; } }
