*,
*::before,
*::after {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}
body {
	font-size: 14px;
	font-weight: 400;
	box-sizing: border-box;
	text-decoration: none;
	padding: 2rem;
	@include respond(phone) {
		padding: 0;
	}
	@include respond(tab-port) {
		padding: 0;
	}
	@include respond(tab-land) {
		padding: 0;
	}
}
html {
	scroll-behavior: smooth;
	transition: $default-transition;
}