//variables
$color-white : #fff;
$color-black : #000;
$color-gray : #777;
$color-purple : #7c71dc;
//////////
$btn-padding : 1rem 2.4rem;
//////////
$linear-gradient : linear-gradient(to right, $color-purple , $color-black);
//font-size
$default-font-size : 18px;
//font-weight 
$default-font-weight : 600;
//box-shadow
$hover-box-shadow : 0 1rem 2rem rgba($color-black, .3);
$focus-box-shadow : 0 .5rem 1rem rgba($color-black, .2);
//transition
$default-transition : all .2s ease-in;
//heading
$heading-font-size : 8rem;
////////////////////////////////////////////////////////
///////////////////////////////////////////////////////

//navbar
////////
.hero {
	background: url(../img/hero-bg-3.png);
	background-size: cover;
	height: 85vh;
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	@include respond(phone) {
		height: 50vh;
	}
	@include respond(tab-port) {
		height: 45vh;
	}
	@include respond(tab-land) {
		height: 43vh;
	}
	///////////
	&__navbar {
		text-align: center;
	}
	&__navbar-ul {
		list-style: none;
	}
	&__navbar-li {
		display: inline-block;
		// margin: 2.8rem .8rem;
		cursor: pointer;
		margin: 1.5rem 1rem;
		transition: $default-transition;
		&:hover {
			transform: translateY(-3px);
			box-shadow: $hover-box-shadow;
		}
		&:active,
		&:focus {
			transform: translateY(-1px);
			box-shadow: $focus-box-shadow; 
		}
	}
	&__navbar-a {
		&,
		&:link,
		&:visited {
		text-decoration: none;
		border-radius: 100px;
		background: $linear-gradient;
		padding: $btn-padding;
		color: $color-white;
		font-size: $default-font-size;
		letter-spacing: 1px;
		font-weight: $default-font-weight;
		text-transform: uppercase;
		font-family: Montserrat;
		}
	}
}