.image-gallery {
	background: linear-gradient(to right bottom, $color-purple, $color-black);
	padding: 5.0rem 0;
	.image-gallery__h1 {
		@include h1-property;
		padding-bottom: 2rem;
		@include respond(phone) {
			font-size: 5rem;
		}
	}
	.container {
		// background: #000;
		.col-lg-4 {
			margin-bottom: 1.15rem;
			.box {
				// box-shadow: 0 0 10px 2px rgba(255, 255, 255, .25);
			} 
			img {
				width: 100%;
				height: 25vh;
			}
		}
	}
.image-gallery__wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	grid-gap: 15px;
	&-box {
		// padding: 10px;
		transition: .3s ease-in-out;
		filter: grayscale(100%) !important;
		&:hover {
		filter: grayscale(0%) !important;
	}	
	& img {
		width: 100%;
		@include respond(phone) {
			width: 80%;
 				}
			}
		}
	}
}